[Unit]
Description=Secret Broker
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/secret-broker
ExecStart=/opt/secret-broker/secret-broker
Restart=on-failure
RestartSec=2
EnvironmentFile=/etc/secret-broker/secret-broker.env
User=secret-broker
Group=secret-broker

[Install]
WantedBy=multi-user.target
