<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.secret-broker</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/opt/secret-broker/bin/secret-broker</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/usr/local/var/secret-broker</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>SECRET_BROKER_BIND</key>
    <string>127.0.0.1:4815</string>
    <key>SECRET_BROKER_DB</key>
    <string>/usr/local/var/secret-broker/secret-broker.db</string>
    <key>SECRET_BROKER_MODE</key>
    <string>enforce</string>
    <key>SECRET_BROKER_CLIENT_API_KEY</key>
    <string>replace-me-client-key</string>
    <key>SECRET_BROKER_APPROVER_API_KEY</key>
    <string>replace-me-approver-key</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/usr/local/var/log/secret-broker.out.log</string>
  <key>StandardErrorPath</key>
  <string>/usr/local/var/log/secret-broker.err.log</string>
</dict>
</plist>
